ANTHROPIC_API_KEY=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=agent_memory
POSTGRES_USER=agent_memory
POSTGRES_PASSWORD=agent_memory

QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=episodic_memory
